@tailwind base;
@tailwind components;
@tailwind utilities;

.font-primary {
    font-family: "Lustria", serif;
    font-weight: 400;
    font-style: normal;
}
.font-secondary {
    font-family: "Nunito", -apple-system, system-ui, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer base {
    body {
        @apply font-secondary
    }
}